<!DOCTYPE html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  <style>
    @font-face {
      font-family: "SourceSansVF";
      src: url("assets/fonts/SourceSansVF-Upright.ttf.BsWL4Kly.woff2")
        format("woff2");
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "SourceSansVF";
      src: url("static/media/SourceSansVF-Upright.ttf.BsWL4Kly.woff2")
        format("woff2");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }
    .rounded {
      border-radius: 4px;
    }
    .grid-hand {
    }

    .grid-hand:hover {
      cursor: pointer;
      /* background-color: aqua; */
      background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
      backdrop-filter: blur(10px); /* Blur effect */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    }
    .glass {
      background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
      backdrop-filter: blur(10px); /* Blur effect */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
      /* border: 1px solid rgba(255, 255, 255, 0.5); Light border */
    }
  </style>

  <div
    class="flex min-h-screen"
    style="font-family: 'SourceSansVF', sans-serif"
  >
    <div
      class="grid grid-cols-13 grid-rows-13 gap-1 p-4"
      style="
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      "
    >
      {% for hand in hands %}
      <div class="grid-hand grid" style="aspect-ratio: 1; height: 48px">
        <div
          class="flex"
          name="{{ hand.name }}"
          total="{{ hand.total }}"
          style="grid-area: 1 / 1"
        >
          <div
            id="{{ hand.name }}-fold"
            class="bg-blue-400"
            times="{{hand.fold}}"
            frequency="{{ hand.fold_frequency}}"
            style="width: {{ hand.fold_frequency}}%"
          ></div>
          <div
            id="{{ hand.name }}-call"
            class="bg-green-400"
            times="{{hand.call}}"
            frequency="{{ hand.call_frequency}}"
            style="width: {{ hand.call_frequency}}%"
          ></div>
          <div
            id="{{ hand.name }}-raise"
            class="bg-red-400"
            times="{{ hand.raise }}"
            frequency="{{ hand.raise_frequency}}"
            style="width: {{hand.raise_frequency}}%"
          ></div>

          <div
            id="{{ hand.name }}-free-flop"
            class="bg-amber-400"
            times="{{hand.free_flop}}"
            frequency="{{ hand.free_flop_frequency}}"
            style="width: {{ hand.free_flop_frequency}}%"
          ></div>
          <div
            id="{{ hand.name }}-not-dealt"
            class="bg-gray-400"
            frequency="{{ hand.not_dealt_frequency}}"
            style="width: {{hand.not_dealt_frequency}}%"
          ></div>
        </div>

        <div class="flex items-center justify-center" style="grid-area: 1 / 1">
          <span class="text-xl" name="{{hand.name}}">{{ hand.name }}</span>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="flex flex-col justify-between w-full">
      <div class="flex flex-col p-4 ml-auto min-w-[300px]">
        <!-- <h1 class="text-4xl text-white py-2">Frequencies</h1> -->

        <div class="p-2 bg-blue-400 flex">
          <div>fold:</div>
          <div class="ml-auto text-right">{{ absolute.fold_frequency }}%</div>
        </div>
        <div class="p-2 bg-green-400 flex">
          <div>call:</div>
          <div class="ml-auto text-right">{{ absolute.call_frequency }}%</div>
        </div>
        <div class="p-2 bg-red-400 flex">
          <div>raise:</div>
          <div class="ml-auto text-right">{{ absolute.raise_frequency }}%</div>
        </div>
        <div class="p-2 bg-amber-400 flex">
          <div>check:</div>
          <div class="ml-auto text-right">{{ absolute.check_frequency }}%</div>
        </div>
        <div class="p-2 bg-purple-400 flex">
          <div>total hands:</div>
          <div class="ml-auto text-right">{{ absolute.total }}</div>
        </div>
      </div>

      <div class="flex flex-col p-4 ml-auto min-w-[300px]">
        <div class="overflow-x-auto">
          <table class="min-w-full border-collapse">
            <thead class="bg-gray-100">
              <tr class="bg-yellow-400">
                <th
                  class="px-4 py-8 text-left text-sm font-medium  border-b"
                >
                  <h1><span id="vis-name" class="text-base"></span></h1>
                </th>
                <th
                  class="px-4 py-8 text-left text-sm font-medium  border-b"
                >
                  times
                </th>
                <th
                  class="px-4 py-8 text-left text-sm font-medium  border-b"
                >
                  frequency
                </th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr class="hover:bg-gray-50 bg-blue-400 bg-blue-400">
                <td class="px-4 py-4 border-b text-sm ">fold</td>
                <td class="px-4 py-4 border-b text-sm  text-right">
                  <span id="vis-fold-abs"></span>
                </td>
                <td class="px-4 py-4 border-b text-sm  text-right">
                  <span id="vis-fold-freq"></span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50 bg-green-400">
                <td class="px-4 py-4 border-b text-sm ">call</td>
                <td class="px-4 py-4 border-b text-sm  text-right">
                  <span id="vis-call-abs"></span>
                </td>
                <td class="px-4 py-4 border-b text-sm  text-right">
                  <span id="vis-call-freq"></span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50 bg-red-400">
                <td class="px-4 py-4 text-sm  border-b">raise</td>
                <td class="px-4 py-4 text-sm  border-b text-right">
                  <span id="vis-raise-abs"></span>
                </td>
                <td class="px-4 py-4 text-sm  border-b text-right">
                  <span id="vis-raise-freq"></span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50 bg-amber-400">
                <td class="px-4 py-4 text-sm  border-b">check</td>
                <td class="px-4 py-4 text-sm  border-b text-right">
                  <span id="vis-free-flop-abs"></span>
                </td>
                <td class="px-4 py-4 text-sm  border-b text-right">
                  <span id="vis-free-flop-freq"></span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50 bg-purple-400">
                <td class="px-4 py-4 text-sm ">total</td>
                <td class="px-4 py-4 text-sm  text-right">
                  <span id="vis-total-abs"></span>
                </td>
                <td class="px-4 py-4 text-sm  text-right">
                  <span id="vis-total-freq"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    const gridHands = document.getElementsByClassName("grid-hand");
    Array.from(gridHands).forEach((element) => {
      element.addEventListener("click", (event) => {
        console.debug(event.target);
        const el = event.target;
        const name = el.getAttribute("name");
        const fold = document.getElementById(`${name}-fold`);
        const call = document.getElementById(`${name}-call`);
        const raise = document.getElementById(`${name}-raise`);
        const freeFlop = document.getElementById(`${name}-free-flop`);

        // console.debug(name);
        // console.debug(document.getElementById(`${name}-raise`));
        document.getElementById("vis-name").innerText = name;
        document.getElementById("vis-fold-abs").innerText =
          fold.getAttribute("times");
        document.getElementById("vis-fold-freq").innerText =
          fold.getAttribute("frequency") + "%";
        document.getElementById("vis-call-abs").innerText =
          call.getAttribute("times");
        document.getElementById("vis-call-freq").innerText =
          call.getAttribute("frequency") + "%";
        document.getElementById("vis-raise-abs").innerText =
          raise.getAttribute("times");
        document.getElementById("vis-raise-freq").innerText =
          raise.getAttribute("frequency") + "%";
        document.getElementById("vis-free-flop-abs").innerText =
          freeFlop.getAttribute("times");
        document.getElementById("vis-free-flop-freq").innerText =
          freeFlop.getAttribute("frequency") + "%";
        document.getElementById("vis-total-abs").innerText =
          +fold.getAttribute("times") +
          +call.getAttribute("times") +
          +freeFlop.getAttribute("times") +
          +raise.getAttribute("times");
        document.getElementById("vis-total-freq").innerText =
          +fold.getAttribute("frequency") +
          +call.getAttribute("frequency") +
          +freeFlop.getAttribute("frequency") +
          +raise.getAttribute("frequency") +
          "%";
      });
    });
  </script>
</body>
